@import '_material_colors';

// $colorPrimary: material-color('indigo', 'a700');
$colorPrimary: rgba(33, 33, 33, 1);
$colorPrimaryDark: darken($colorPrimary, 3%);
$textColor: rgba(black, 0.87);
$textColorSub: rgba(black, 0.54);
