html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'RobotoDraft', sans-serif;
  background-color: #e5e5e5;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

a, a:hover {
	color: white;
	text-decoration: none;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

core-header-panel {
	height: 100%;
    overflow: auto;
    -webkit-overflow-scolling: touch;
    background-color: #673ab7;
}

core-toolbar {
	font-weight: 400;
	background-color: #fbc02d;
	color: white;
}

.banner {
	width: 80%;
	margin: 24px auto;
	text-align: center;
	color: #e5e5e5;
}

.banner-fab {
  margin: 48px auto;
  background: #f57f17;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

  .banner {
    margin: 72px auto;
  }
}
