$colorPrimary: #009688;

$avatarSize: 128px;
$avatarSizeSmall: 96px;

$avatarBorder: 4px;
$avatarBorderSmall: $avatarBorder;

$mainPadding: 24px;

$break-small: 360px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  // @else if $media == medium-screens {
  //   @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  // }
  // @else if $media == wide-screens {
  //   @media only screen and (min-width: $break-large) { @content; }
  // }
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #333;
}

body {
  position: relative;
  font-family: alegreya, serif;
  font-weight: 400;
  align-items: center;
}

.banner {
  width: 100%;
  height: 337px;
  background-image: url(http://localhost:3000/images/banner.jpg);
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  height: 100%;
  background-color: #444;
}

p {
  color: #eee;
  font-family: 'Alegreya';
  font-size: 92px;
  text-shadow: 0 4px 0 rgba(#000, 0.1);
}

.banner-title {
  padding-top: 190px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 1;
}

.tab-icon {
  border-image: url(http://localhost:3000/images/apps.svg);
}