html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'RobotoDraft', sans-serif;
  font-weight: 300;
  background-color: #E5E5E5;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}
