$colorPrimary: #009688;

$avatarSize: 128px;
$avatarSizeSmall: 96px;

$avatarBorder: 4px;
$avatarBorderSmall: $avatarBorder;

$mainPadding: 24px;

$break-small: 360px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  // @else if $media == medium-screens {
  //   @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  // }
  // @else if $media == wide-screens {
  //   @media only screen and (min-width: $break-large) { @content; }
  // }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #333;
}

body {
  height: 100%;
  position: relative;
  font-family: alegreya, serif;
  font-weight: 400;
  align-items: center;
}

.banner {
  width:100%;
  height:540px;
  display:block;
  opacity:1;
  position:relative;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover,0,0,0;
  background-image: url(http://localhost:3000/images/banner.png);
  z-index: 0;
}

.overlay {
    background:rgba(0,0,0,.4);
    width:100%;
    height:100%
}

.content {
  position: relative;
  height: 100%;
  background-color: #444;
}

p {
  color: #eee;
  font-family: 'Alegreya';
  font-size: 92px;
  text-shadow: 0 4px 0 rgba(#000, 0.1);
}

.banner-title {
  padding-top: 380px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 1;
}

.app-icon {
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  z-index: 1;
}

.card-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.card {
  position: relative;
  float: left;
  height: 50%;
  width: 50%;
  color: #ccc;

}

.screenshot {
  margin-left: 16px;
  margin-top: 16px;
}