{% extends '_base.html' %}

{% block css %}
<link rel="stylesheet" href="/styles/landing.css">
{% endblock %}

{% block js %}
<script src="/scripts/landing.js"></script>
{% endblock %}

{% block page-body %}
  <div class="top"></div>
  <div class="content-container">
    <div class="content">
      <div class="avatar"></div>

      <p>Hi, I’m Shantanu.</p>
      <p>I'm a <a href="https://goo.gl/yv4VfN">fullstack</a> developer at Gamezop in New Delhi.</p>
      <p>I write <a href="https://goo.gl/ESiO44">node.js</a>, <a href="https://goo.gl/8Q7ubT">android</a> and sometimes <a href="https://goo.gl/w95ter">iOS</a>apps.</p>
      <p>I enjoy working in TypeScript, <a href="https://goo.gl/QzCQNt">Go</a>, Python and <a href="https://goo.gl/c5rSxo">JavaScript.</a></p>

      <!-- icons thanks to https://github.com/shalinguyen/socialicious -->
      <div class="icons">
        <a rel="me" href="https://twitter.com/shantanuraj" title="Twitter" class="twitter"></a>
        <a rel="me" href="https://plus.google.com/+ShantanuRajSR/posts" title="Google+" class="googleplus"></a>
        <a rel="me" href="https://github.com/shantanuraj" title="GitHub" class="github"></a>
        <a rel="me" href="" title="Email" class="email obfuscated" data-email="s sraj me"></a>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
{% endblock %}
